{
	"__merge" : [],
	"defaultBlueprints" : 
	{
		"__merge" : [],
		"tier1" : 
		[ 
			{ "item" : "containerbreaker" },
			{ "item" : "containermodstation" },
			{ "item" : "lockswitch" },
			{ "item" : "protectedtier9techchest" },
            { "item" : "protectedtier8techchest" },
            { "item" : "protectedtier7techchest" },
            { "item" : "protectedtier6techchest" },
            { "item" : "protectedtier5techchest" },
            { "item" : "protectedtier4techchest" },
            { "item" : "protectedtier3techchest" },
            { "item" : "protectedtier2techchest" },
            { "item" : "protectedtier1techchest" },
            { "item" : "protectedtier10techchest" },
            { "item" : "protectedtoxicchest" },
            { "item" : "protectedsandstonechest" },
            { "item" : "protectedrustchest" },
            { "item" : "protectedrainbowchest" },
            { "item" : "protectedshroomchest" },
            { "item" : "protectedicespherechest" },
            { "item" : "protectedicechest" },
            { "item" : "protectedgiantflowerchest" },
            { "item" : "protectedgeometricchest" },
            { "item" : "protectedfleshchest" },
            { "item" : "protectedeyechest" },
            { "item" : "protectedcrystalchest" },
            { "item" : "protectedcellchest" },
            { "item" : "protectedbonechest" },
            { "item" : "protectedhylotlshiplocker" },
            { "item" : "protectedhylotlfuelhatch" },
            { "item" : "protectedhylotlclassicwardrobe1" },
            { "item" : "protectedhylotlclassiccabinet1" },
            { "item" : "protectedhylotlclassicbookcase" },
            { "item" : "protectedvendingmachine" },
            { "item" : "protectedshiplocker" },
            { "item" : "protectedprisonlocker2" },
            { "item" : "protectedprisonlocker1" },
            { "item" : "protectedprisoncabinet1" },
            { "item" : "protectedprisonbarrelfire" },
            { "item" : "protectedoven1" },
            { "item" : "protectedmicrowave" },
            { "item" : "protectedfuelhatch" },
            { "item" : "protectedfridge" },
            { "item" : "protectedbunkercrate" },
            { "item" : "protectedbunkercabinet1" },
            { "item" : "protectedbunkerbookcase" },
            { "item" : "protectedpresent4" },
            { "item" : "protectedpresent3" },
            { "item" : "protectedpresent2" },
            { "item" : "protectedpresent1" },
            { "item" : "protectedbigpresent" },
            { "item" : "protectedtrashcan" },
            { "item" : "protectedtrashbag" },
            { "item" : "protectedsmallwoodencrate" },
            { "item" : "protectedroyaldesk" },
            { "item" : "protectedroyalchest" },
            { "item" : "protectedroyalcabinet" },
            { "item" : "protectedroyalbookcase" },
            { "item" : "protectedouthouse" },
            { "item" : "protectedmedievalregister" },
            { "item" : "protectedmedievallargecookingpot" },
            { "item" : "protectedmedievalfurnace" },
            { "item" : "protectedmedievalfireplace" },
            { "item" : "protectedmedievaldresser" },
            { "item" : "protectedmedievaldesk" },
            { "item" : "protectedmedievalchest" },
            { "item" : "protectedmedievalcabinet" },
            { "item" : "protectedmedievalbookcase" },
            { "item" : "protectedlargewoodencrate" },
            { "item" : "protectedglitchshiplocker" },
            { "item" : "protectedglitchfuelhatch" },
            { "item" : "protectedbarrellarge" },
            { "item" : "protectedbarrel" },
            { "item" : "protectedwoodenlocker" },
            { "item" : "protectedwoodenendtable" },
            { "item" : "protectedwoodencrate2" },
            { "item" : "protectedwoodencrate1" },
            { "item" : "protectedwoodenceilingcabinet2" },
            { "item" : "protectedwoodenceilingcabinet1" },
            { "item" : "protectedwoodencabinet3" },
            { "item" : "protectedwoodencabinet2" },
            { "item" : "protectedwoodencabinet1" },
            { "item" : "protectedtechchest2" },
            { "item" : "protectedtechchest" },
            { "item" : "protectedstonefurnace" },
            { "item" : "protectedrusticoven" },
            { "item" : "protectedrefinery" },
            { "item" : "protectednanostove" },
            { "item" : "protectedlocker2" },
            { "item" : "protectedlocker1" },
            { "item" : "protectedchestclassic" },
            { "item" : "protectedcardboard3" },
            { "item" : "protectedcardboard2" },
            { "item" : "protectedcardboard1" },
            { "item" : "protectedcampfire" },
            { "item" : "protectedbox2" },
            { "item" : "protectedbox1" },
            { "item" : "protectedplantcabinet2" },
            { "item" : "protectedplantcabinet1" },
            { "item" : "protectedfloranstove" },
            { "item" : "protectedfloranshiplocker" },
            { "item" : "protectedfloranfuelhatch" },
            { "item" : "protectedflorancrate" },
            { "item" : "protectedflorancabinet3" },
            { "item" : "protectedflorancabinet2" },
            { "item" : "protectedflorancabinet1" },
            { "item" : "protectedfloranbookcase" },
            { "item" : "protectedchestplant1" },
            { "item" : "protectedchestfloran2" },
            { "item" : "protectedchestfloran1" },
            { "item" : "protectedtribalwallcabinet" },
            { "item" : "protectedtribaloven2" },
            { "item" : "protectedtribalcounter1" },
            { "item" : "protectedtribalcloset1" },
            { "item" : "protectedtribalcabinet1" },
            { "item" : "protectedtribalbookcase2" },
            { "item" : "protectedtribalbookcase1" },
            { "item" : "protectedtombthing4" },
            { "item" : "protectedtombthing3" },
            { "item" : "protectedtombthing2" },
            { "item" : "protectedtombthing1" },
            { "item" : "protectedchestmedavian2" },
            { "item" : "protectedchestmedavian1" },
            { "item" : "protectedchestavian2" },
            { "item" : "protectedchestavian1" },
            { "item" : "protectedavianshiplocker" },
            { "item" : "protectedavianfuelhatch" },
            { "item" : "protectedclassiccupboard" },
            { "item" : "protectedclassicbookcase" },
            { "item" : "protectedapexwardrobe" },
            { "item" : "protectedapexshiplocker" },
            { "item" : "protectedapexoven" },
            { "item" : "protectedapexlocker" },
            { "item" : "protectedapexfuelhatch" },
            { "item" : "protectedapexfridge" },
            { "item" : "protectedapexcounter1" },
            { "item" : "protectedapexcoolcupboard" },
            { "item" : "protectedapexcoolbookcase" }
		]
	}
}